*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #FFFAFA; 
    
}
.general-content{
  max-width: 1200px;
  margin: 0 auto;
  
}
.navbar{
    background-color: #FFFAFA; 
    padding-top: 5px;
    position: fixed;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-link{
    display: flex;
    gap: 60px;
}
.links{
    margin-left: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.title{
color: #282828;
font-size: 45px;
font-weight: 700;
margin-left: 50px;
}

.social{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}





.menu-icon{
    width: 38px;
    height: 19px;
}
.menubar{
    display: flex;
    align-items: center;
}
.header{
    padding-top: 60px;
}
.vectors{
    position: relative;
}
.vector1, .vector2, .vector3, .vector4, .vector5{
    position: absolute;
    z-index: -1;
}
.vector1{
    top: 405px;
    left: 550px;
    
}

.vector2{
    top: 180px;
    left: 560px;
    
    
}

.vector3{
    top: 60px;
    left: 700px;
}

.vector4{
    top: 310px;
    left: 500px;
}

.vector5{
    top: 65px;
    left: 340px;
}

.user-intro{
    color: #282828;
    font-size: 65px;
    font-weight: 700;
    margin-left: 50px;
}
.pink-name{
    color: #FF4C60;
}
.downloadbtn{
    color: #282828;
    font-size: 16px;
    margin-top: 12px;
    margin-left: 50px;
}
.dash{
    margin-left: 14px;
}
.scrollbtn{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.scrollicon{
    width: 60px;
    margin-left: 45px;
}
.scrolltext{
    margin-top: -7px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -50px;
    }

.image-side{
    
}

.userimg{
    width: 500px;
    object-fit: cover;
    padding-bottom: 100px;
    
  

}

.newsletter{
    background-color: #F9F3F5;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 100px;
    margin-bottom: 150px;
}
.news-text{
  width: 40%;
  text-align: center;
}
.news-title{
    color: #282828;
    font-size: 30px;
    font-weight: 700;
}
.news-prag{
    color: #C4C4C4;
    font-size: 18px;
}
.news-input{
width: 60%;
}
.news-btn{
    display: flex;
    gap: 5px;
}
.news-email{
    border: none;
    outline: none;
    background-color: #FFFAFA;
}
.newsbtn-text{
    color: #282828
}
.inputbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFAFA;
    padding: 22px 48px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);

}
.skills{
    margin-top: 100px;
    display: flex;
    margin: 100px;
    gap: 60px;
    margin-bottom: 130px;
}
.skills-img{
 width: 50%;
 position: relative;

}
.skills-content{
 width: 55%;
}
.skillimg-bg{
    width: 100%;
}
.skillimg-container{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-text{
    margin-top: 40px;
}

.skill-paragraph{
    margin-top: 20px;
}

.skill-sets{
    display: flex;
    margin-top: 45px;
    text-align: center;
    gap: 65px;
}

.bold{
    font-weight: bold;
}

.downloadbtn2{
    color: #FF4C60;
    font-size: 16px;
    margin-top: 50px;
}



.service-letter{
    background-color: #F9F3F5;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 100px;
    margin-bottom: 130px;
}
.service-text{
  width: 40%;
  text-align: center;
}
.service-title{
    color: #282828;
    font-size: 30px;
    font-weight: 700;
}
.service-prag{
    color: #C4C4C4;
    font-size: 18px;
}
.service-input{
width: 60%;
}
.service-btn{
    display: flex;
    gap: 5px;
}
.service-email{
    border: none;
    outline: none;
    background-color: #FFFAFA;
}
.servicebtn-text{
    color: #282828
}
.inputbox1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFAFA;
    padding: 22px 48px;
}

.search-icon{
    
}

.skills-comp{
    margin-top: 100px;
    display: flex;
    margin: 100px;
    gap: 190px;
    margin-bottom: 130px;
}

.skill-column{
    display: grid;
    gap: 50px 35px;
    grid-template-columns: auto auto auto;
    background-color: #FFFAFA;
    padding: 10px;
   
}

.column{
    background-color: #ffffff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);

    border-radius: 27%  ;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 140px;
    box-sizing: border-box;
    font-size: 13px;
 
}

.happy-client{
    background-color: #F9F3F5;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 100px;
    margin-bottom: 130px;
}

.client-text{
    width: 40%;
    text-align: center;
  }

  .client-title{
    color: #282828;
    font-size: 30px;
    font-weight: 700;
}

.client-prag{
    color: #C4C4C4;
    font-size: 18px;
}

.client-input{
    width: 60%;
    }

.client{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 48px;
    gap: 93px;
}

.mansion{
    margin-top: 100px;
    display: flex;
    margin: 100px;
    gap: 60px;
}

.mansion-img{
    width: 45%;
    position: relative;
    z-index: -1;
}

.mansionimg-bg{
    width: 100%;
    
}

.mansion-content{
    width: 55%;
}

.mansion-text{
    margin-top: 40px;
}

.mansion-paragraph{
    padding-top: 50px;
    margin-top: 20px;
    margin-bottom:20px ;
}

.downloadbtn3{
    color: #FF4C60;
    font-size: 16px;
    margin-top: 80px;
    margin-right: 50px;
}

.mansion-paragraph1{
    color: #C4C4C4;
    margin-top: 35px;
}

.social-media{
    background-color: #F9F3F5;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 100px;
    margin-bottom: 130px;
}

.social-media-text{
    width: 40%;
    text-align: center;
  }

  .social-media-title{
    color: #282828;
    font-size: 30px;
    font-weight: 700;
}

.social-media-prag{
    color: #C4C4C4;
    font-size: 18px;
}

.social-media-input{
    width: 60%;
    }

.social-media-client{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 48px;
    gap: 93px;
}

.social-media-images{
    margin-left: 19px;
}

.motion-design-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: 30px 80px;
    margin: 100px;
    margin-bottom: 250px;
}

.motion-design-images1{
    height: 170px;
    width: 345px;
    margin: 30px;
    justify-content: center;
    margin-bottom: 190px ;
    margin-left: 150px;
}

.motion-design-images2{
    height: 170px;
    width: 345px;
    
    margin: 30px;
    justify-content: center;
}

.motion-design-images3{
    height: 170px;
    width: 345px;
    margin: 30px;
    justify-content: center;
    margin-top: 150px;
    margin-right: 150px  ;
}

.motion-images{
    width: 315px;
}

.motion-design-parag{
    
    position: absolute;
    margin-bottom: 270px ;
    margin-left: 400px;
    font-size: 20px;
    font-weight: bold;
    background-color: #F9F3F5;
    padding: 6px;

}

.motion-design-h1{
    position: absolute;
    margin-bottom: 270px ;
    margin-left: 950px;
}

.Ellipse-motion{
    position: absolute;
    margin-bottom: 270px ;
    margin-left: 615px;

}

.arrow-motion{
    position: absolute;
    margin-bottom: 276px ;
    margin-left: 615px;

}

.footer-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin: 100px;
}

.footer-div1{
    height: 400px;
    width: 1000px;
    margin-top: 90px;
    justify-content: center;
    background-color: #F9F3F5;
    
}

.footer-div2{

    height: 550px;
    width: 1000px;
    margin: 1px;
    justify-content: center;
    
    background-color: #FFFAFA;

}

.footer-contents1{
    margin-top: 40px;
    margin: 20px;
    
}

.footer-parag{
    margin-top: 15px;
    margin-bottom: 50px;
    font-weight: 900;
}

.footer-image{
    margin-left: 60px;
    
}

.footer-image1{
    
    left: 170px;
    bottom: -110px;
   position: relative;
   z-index: 1;
   justify-content: center;
   margin-bottom: 55px;
   margin-left: 100px;
   
}

.footer-image2{
    margin-left: 250px;
    
    
    position: absolute;
    
    
}

.footer-contact{
    margin-bottom: -160px;
    display: grid;
    
}

.footer-contact1{
    
    position: absolute;
    z-index: 1;
}

.footer-contact-info{
    margin-top: 230px;
}

.footer-number{
    margin-top: -36px;
    margin-left: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
   
}

.footer-div2{
    
    border-radius: 10px;
    background-color: #FFFAFA;
    box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, 0.10);;
}

.footer-content-body{
    margin: 30px;
}

.footer-email{
    height: 45px;
    width: 42%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);

}

.footer-email1{
    margin-left: 70px;
    height: 45px;
    width: 42%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
    
}

.footer-contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:40px ;
    font-weight: 900;
    font-size: 20px;
    

}

.footer-address{
    margin-top:33px ;
    height: 45px;
    width: 90%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);

}

.footer-subject{
    margin-top:33px ;
    height: 45px;
    width: 42%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}

.footer-messsage{
    margin-top:33px ;
    height: 110px;
    width: 90%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);

}

.footer-submit{
    margin-top:33px ;
    height: 45px;
    width: 42%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);

}

.copywrite{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
    color: #FF4C60;
    font-size: 18px;
}



